/* CSS for screen width of x <= 800px            */


:root {
font-size:  16px;
font-family: "Computer Modern Sans", sans-serif;
--text-primary: #b6b6b6;
--text-secondary: #ececec;
--bg-primary: #23232e;
--bg-secondary: #141418;
scroll-behavior: smooth; 
}
	
html, body {
overflow-x: hidden;
} 

body {
color: white;
background-color: var(--bg-secondary);
margin: 0;
padding: 0;
}
	
body::-webkit-scrollbar {
width: 0.6rem;	
}
	
body::webkit-scrollbar-track {
background: #1e1e24
}
	
body::-webkit-scrollbar-thumb {
background: #bbbbbb
}
	
.navbar {
width: 3rem;
height: 100vh;
position: fixed;
margin: 0;
background-color: var(--bg-primary);
z-index: 1;
}
	
.navbar-nav {
list-style:none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: baseline;
}
	
.nav-link {
display: flex;
width: 3rem;
align-items: center;
height: 4rem;
color: var(--text-primary);
text-decoration: none;
filter: opacity(1);
transition: 200ms ease;
}

	
.nav-link:hover {
filter: opacity(1) brightness(1.5);
background: var(--bg-primary);
color: var(--text-secondary);
}
	
.nav-link svg {
max-width: 3rem;
max-height: 4rem;
fill: #dddddd;
display: block;
margin: -0.5rem;
}
	
.link-text {
font-size: 0.5em;
position: fixed;
top: 3rem;
width: 3rem;
text-align: center;
}

.contact-location {
position: fixed;
bottom: 15px;
}

.nav-link svg path {
min-width: 10px;
height: 10px;
}



	
	
main {
margin-left: 3rem;
height: 100vh;
border-bottom: 12px solid var(--bg-primary);
background-size: 100% 100%;
}
	
main #main-name {
position: absolute;
top: calc(30% + 0.2rem);
left: calc(50% - 4.2ch);
font-size: 2rem;
font-family: Serif;
min-width: 14ch;
z-index: 0;
} 
	
main #main-dropdown {
position: absolute;
left: 4rem; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
height: calc(9% + 10px);
width: calc(9% + 10px);
top: calc((49% + 170px) + (100% - (49% + 170px))/2);
justify-content: center;
}

main #contact-icons {
position: absolute;
top: 49%;
left: 4rem; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
min-width: 170px;
max-width: 180px;
min-height: 170px;
display: flex;
flex-direction: column;
justify-content: space-between;
}



	
	
	/*MAIN PAGE BACKGROND*/
main #main-background {
width: 100%;
height: 100%;
}
	
main #main-banner1 {
background: linear-gradient(rgba(0, 0, 0, 0.2) 0%,rgba(0, 0, 0, 0.2) 100%);
position: absolute;
top: calc(30% - 0.9rem);
left: 3rem;
height: 4rem;
width: calc(100% - 3rem);
backdrop-filter: blur(2px);
}
	
	
main #main-banner2 {
position: absolute;
left: calc(15% + 3rem);
width: 3px;
height: 100vh;
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 4px, rgba(0, 0, 0, 0) 0%);
background-position: left;
background-size: 4px 2%;
background-repeat: repeat-y;
}
	
	
main :is(#main-banner3, #main-banner4, #main-banner5) {
position: absolute;
left: calc(15% + 3rem);
width: 3px;
height: 100vh;
background-image: linear-gradient(to bottom, rgba(255, 0, 0, 1) 3px, rgba(0, 0, 0, 0) 0%);
background-position: left;
background-size: 3px 2%;
background-repeat: no-repeat;
visibility: hidden;
}
	
main #main-banner3 {
animation: anim1 10s steps(51) infinite;
} @keyframes anim1 {from {top: -50%; visibility: visible;} to {top: 52%}}
	
main #main-banner4 {
animation: anim1 10s steps(51) 0.2s infinite;
} 
	
main #main-banner5 {
animation: anim1 10s steps(51) 0.4s infinite;
}



.section-row {
border-bottom: 12px solid var(--bg-primary);
margin-left: 3rem;
padding: 3.5rem;
background-color: var(--bg-secondary);
}




#r1 div {
display: flex;
flex-direction: column;
place-items: center;
}

#r1 h1 {
text-align: center;
font-size: 2em;
}

#r1 p {
width: 110%;
text-align: left;
}







#r2 {
min-height: 30rem; 
}

#r2 h1 {
text-align: center;
font-size: 2em;
}

#r2 table {
border-collapse: collapse;
margin-top: -3rem;
margin-left: auto;
margin-right: auto;
}

#r2 .table1 {
margin-left: calc(10vw - 3rem);
}

#r2 td {
display: block;
min-width: 3rem;
min-height: 1.5rem;
}

#r2 .table1text {
margin-left: 3rem;
margin-top: -2.3rem;
}

#r2 #r2-spacing1 {
height: 5vh;
}

#r2 .TabIcon {
width:50px;
height:50px;
border-radius:25px;
background-color:gray;
font-size:18px;
font-weight:1000;
display:table-cell;
vertical-align:middle;
}

#r2 .TabIcon1 {
background-color:#3792CB;
}

#r2 .TabIcon2 {
background-color:#E74C3C;
}

#r2 .TabIcon3 {
background-color:#E69500;
}

#r2 .TabIcon4 {
background-color:#8B8589;
}

#r2 .TabIcon5 {
background-color:#000000;
}

#r2 .TabIcon6 {
background-color:#306998;
}

#r2 .TabIcon7 {
background-color:#E64A19;
font-size: 12px;
}

#r2 .TabIcon8 {
background-color:#6E64C3;
}







.Experience {
margin-left: 10%;
margin-right: 5%;
padding: 3.5rem;
background-color: var(--bg-secondary);
--width1: 120%;
}

.Experience h1 {
text-align: center;
font-size: 2em;
}



.Experience #img-magna {
position: relative;
width: var(--width1);
min-width: 210px;
height: 33vh;
top: 1rem;
}

.Experience #magna-header {
position: relative;
left: 1rem;
top: 2rem;
width: var(--width1);
font-size: 90%;
text-decoration: underline 1pt;
}

.Experience #text-magna {
position: relative;
left: 1rem;
top: 2rem;
width: calc(var(--width1) - 15%);
font-size: 1rem;
font-size: 80%;
min-width: 180px;
}


.Experience #img-lg {
position: relative;
width: var(--width1);
height: 33vh;
min-width: 210px;
top: 3rem;
}

.Experience #lg-header {
position: relative;
left: 1rem;
top: 4rem;
width: var(--width1);
font-size: 90%;
text-decoration: underline 1pt;
}

.Experience #text-lg {
position: relative;
left: 1rem;
top: 5rem;
width: 85%;
font-size: 85%;
}


.Experience #Exp-spacing {
height: 10vh;
}



#r4 {
border-top: 12px solid var(--bg-primary);
position: relative;
}

#r4:before {
content: ' ';
z-index: 1;
display: block;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
opacity: 0.1;
background-image: url("/img/edu1.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: calc(100% - 3rem) 100%;
background-position: 3rem 0rem;
}

#r4 h1 {
z-index: 2;
position: relative;
margin-left: -3rem;
text-align: center;
font-size: 2em;
}

#r4 .center-educationbox {
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 100%;
margin-left: -1rem;
}

#r4 .edu-col {
min-width: 50%;
}

#r4 .edu-centertext {
display: flex;
justify-content: left;
}

#r4 .edu-indent {
position: relative;
font-size: 85%;
}

#r4 .thesis {
justify-content: left;
margin-left: -1rem;
}

#r4 .thesis-width {
min-width: 100%;
max-width: 120%;
font-size: 85%;
margin-top: -0.5rem;
}

#r4 .thesis-linkContainter {
margin-top: 3rem;
display: flex;
justify-content: center;
position: relative;
}

.thesis-weblink {
z-index: 2;
position: relative;
color: rgba(145, 145, 226, 1);
text-decoration: none;
}

.thesis-pdflink {
z-index: 2;
width: 170px;
height: 40px;
background-color: rgba(0, 0, 0, 0);
border: 2.5pt solid rgba(255, 70, 70, 0.7);
display: flex;
align-items: center;
justify-content: center;
color: rgba(255, 70, 70, 1);
text-decoration: none;
background: rgba(0,0,0,0.4);
font-weight: bold;
transition: all 0.8s;
}

.thesis-pdflink:after {
z-index: -1;
position: absolute;
content: "";
margin-left: -170px;
height: 40px;
background:  rgba(0,0,0,0.7);
width: 1px;
transform: translateX(0px) scaleX(0);
transition: all 1.3s;
}

.thesis-pdflink:hover {
color: rgba(145, 145, 226, 1);
border: 2.5pt solid rgb(145, 145, 226);
transition: all 0.8s;
}

.thesis-pdflink:hover:after{
width: 1px;
transform: translateX(85px) scaleX(170);
transition: transform 0.8s;
}




#r5 {
min-height: 100rem;  
--proj-width: 115%;
--proj-spacing: calc(-25% - 3.6rem);
margin-left: 5%;
}

#r5 h1 {
text-align: center;
font-size: 2em;
}

#r5 .proj-vspace-header {
height: 5vh;
}

#r5 .center-projectbox {
display: flex;
align-items: top;
flex-direction: column;
margin-top: -30px;
}

#r5 .proj-img {
width: var(--proj-width);
max-height: 300px;
}

#r5 .proj-leftbox {
position: relative;
max-width: 90%;
margin-bottom: 30px;
font-size: 70%;
}

#r5 .proj-rightbox {
position: relative;
max-width: 90%;
margin-bottom: 30px;
font-size: 70%;
}

#r5 :is(.proj-txt1, .proj-txt2) {
max-width: var(--proj-width);
font-size: 100%;
}

#r5 .proj-vspace {
height: 10vh;
}





#r7 {
height: 0vh;
margin-left: 3rem;
padding: 3.5rem;
background-color: var(--bg-primary);
}



